@media only screen and (max-width: 900px){
    .globalContainer {
        padding-bottom: 164px;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 900px){
    .mainContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 1075px){
    .mainContainer {
        height: 496px;
        margin: 0 40px;
        width: auto;
        min-width: 400px;
    }
}

@media only screen and (max-width: 900px){
    .headerDiv {
        display: inline-block;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 1075px){
    .headerDiv {
        width: 400px;
    }
}

@media only screen and (max-width: 900px){
    .logoHeader {
        padding: 0 0 20px 0;
        margin: 0;
    }
}

@media only screen and (max-width: 900px){
    .briefDescription {
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 1075px){
    .briefDescription {
        font-size: 24px;
        line-height: 28px;
        width: auto;
    }
}

@media only screen and (max-width: 900px){
    .mainDiv {
        margin: 0 auto;
    }
}